<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwNrDvjcMndHnZas1ziD6Owxd1E57mekE</string>
	<key>GCM_SENDER_ID</key>
	<string>627571046739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCampusSdp</string>
	<key>PROJECT_ID</key>
	<string>sdp-itsmahi</string>
	<key>STORAGE_BUCKET</key>
	<string>sdp-itsmahi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627571046739:ios:05c258746c086c6ae489a6</string>
</dict>
</plist>